{% extends 'base.html' %}

{% block content %}

<h1>Edit Feedback</h1>

<div class='container'>
    <form method='POST' class='form-control-sm'>



        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}

        {{ field.label }} {{ field(class_="form-control") }}

        {% for error in field.errors %} {{ error }}

        {% endfor %}

        {% endfor %}

        <br>

        <button class="btn btn-primary">Update</button>
    </form>

</div>


{% endblock %}